/*FUENTES*/
@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Bold.eot');
    src: local('Hellix Bold'), local('Hellix-Bold'),
        url('Hellix-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Bold.woff2') format('woff2'),
        url('Hellix-Bold.woff') format('woff'),
        url('Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Black.eot');
    src: local('Hellix Black'), local('Hellix-Black'),
        url('Hellix-Black.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Black.woff2') format('woff2'),
        url('Hellix-Black.woff') format('woff'),
        url('Hellix-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Medium.eot');
    src: local('Hellix Medium'), local('Hellix-Medium'),
        url('Hellix-Medium.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Medium.woff2') format('woff2'),
        url('Hellix-Medium.woff') format('woff'),
        url('Hellix-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.color-home {
    color: #356d5e;
}

/*FRANJA CELESTE*/
.celeste {
    background-color: #a0beef;
    height: 20px;
}

/*HOME*/
.home-left {

    background-color: #cce296;
    background-image: url('./statics/fondo-2.png');
    background-position: center;
    background-size: 140% auto;
    background-repeat: no-repeat;
    height: 80vh;
}

.home-right {
    background-image: url('./statics/home.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

@media (max-width: 576px) {

   
    .home-right {
        height: 40vh;
    }
}





.banner-1 {
    height: 10vh;
}

.quienes-somos {
    height: 70vh;
}

.quienes-somos-col-1 {
    height: 70vh;
}

.quienes-somos-row {
    height: 35vh;
}

.quienes-somos-row-2 {
    height: 35vh;
}



.redondeo {
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}