@font-face {
    font-family: 'Hellix';
    src: url('Hellix-Bold.eot');
    src: local('Hellix Bold'), local('Hellix-Bold'),
        url('Hellix-Bold.eot?#iefix') format('embedded-opentype'),
        url('Hellix-Bold.woff2') format('woff2'),
        url('Hellix-Bold.woff') format('woff'),
        url('Hellix-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

$font-family-base: 'Hellix', sans-serif;
$display-font-family: 'Hellix';
$display-font-weight: 900;

$display-font-sizes: (
  1: 6vw,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$font-sizes: (
  1: 4.5vw,
  2: 7vw   
);
    

@import "./node_modules/bootstrap/scss/bootstrap.scss";